{% extends 'base.html.twig' %}

{% block title %}
    Update the tower!
{% endblock %}

{% block body %}
    {{ form_errors(towerForm) }}

    {{ form_start(towerForm) }}
    
    {{ form_rest(towerForm) }}
    
    <input type="hidden" name="_token" value="{{ csrf_token('update_tower_' ~ towerId) }}" />

    <button type="submit" class="btn">
        Update tower
    </button>

    {{ form_end(towerForm) }}
{% endblock %}
