{% extends 'base.html.twig' %}

{% block title %}
   Hello EnemyController!
{% endblock %}

{% block body %}

   <a href="{{ path('app_enemy_create') }}">
      Create a new enemy!
   </a>

   {% for enemy in enemies %}
      <div>
         {{ enemy.name }}
         |
         {{ enemy.energy }}
         |
         <a href="{{ path('app_enemy_edit', { id: enemy.id }) }}">
            Edit enemy
         </a>
         <form action="{{ path('app_enemy_delete', { id: enemy.id }) }}" method="post" onsubmit="return confirm('Are you sure you want to delete this item?');">
            <input type="hidden" name="_token" value="{{ csrf_token('delete_enemy_' ~ enemy.id) }}" />
            <input type="submit" value="Delete enemy" />
         </form>
      </div>
   {% endfor %}

{% endblock %}
