{% extends 'base.html.twig' %}

{% block title %}
    Update the enemy!
{% endblock %}

{% block body %}
    {{ form_errors(enemyForm) }}

    {{ form_start(enemyForm) }}
    
    {{ form_rest(enemyForm) }}

    <input type="hidden" name="_token" value="{{ csrf_token('update_enemy_' ~ enemyId) }}" />
    
    <button type="submit" class="btn">
        Update enemy
    </button>

    {{ form_end(enemyForm) }}
{% endblock %}
